body {
    font-family: 'Lato', sans-serif;
    color: white;
    /*overflow: hidden;*/
}

::selection{
    background: white;
    color: black;
}
::-moz-selection {
    background: white;
    color: black;
}

#nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.fade_in_logo {animation:fading 2s}@keyframes fading{0%{opacity:0}100%{opacity:1}}
.fade_in_motto_main {animation:fading 6s}@keyframes fading{0%{opacity:0}100%{opacity:1}}
.fade_in_motto, .fade_in_arrow {animation:fading 7s}@keyframes fading{0%{opacity:0}100%{opacity:1}}

#logo_small {
    font-size: 200px;
    height: 250px;
}

#logo {
    font-size: 110px;
    padding-top: 150px;
    height: 350px;
}

#logo, #logo_small {
    width: auto;
}

#motto_main_mobile, #motto_mobile, #arrow_text_mobile {
    font-size: 20px;
}

#motto_main, #motto, #motto_main_mobile, #motto_mobile, #profile_header {
    font-family: 'Sriracha', cursive;
}

#motto {
    padding-bottom: 200px;
}

#motto_mobile {
    padding-bottom: 25px;
}

#arrow_text_mobile {
    padding-bottom: 425px;
}

#arrow_text_mobile_border {
    border-width: 4px !important; ;
}

#arrow {
    font-family: "calibri" , sans-serif;
    height: 100px;
    font-size: 175px;
    padding-bottom: 500px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

#profile, #experience, #abilities, #projects, #contact {
    padding-top: 100px;
    height: 1500px;
}

#profile_header {
    padding-bottom: 50px;
}

#profile_content {
    font-size: 25px;
}

.image {
    border-width: 8px !important;
}

/* ----------------------------------------------- */
/* Following code provided by thetypebeast */
/* https://codepen.io/thetypebeast/pen/KWNGGd */
* { /* reset margins and paddings on all elements */
    margin:0;
    padding:0;
}

body::before {
    content:""; /* required for ::before */
    position:fixed; /* don't scroll with page */
    z-index:-100; /* place behind elements on page */
    width:100%;
    height:100%;
    background-color:#FF1900;
    background-image:
            radial-gradient(circle farthest-side at top right, transparent, #FF9101), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #fee600);
    animation:bg-change 10s infinite;
}

@keyframes bg-change {
    0%, 100% {
        filter:hue-rotate(0deg);
    }
    50% {
        filter:hue-rotate(-45deg);
    }
}
/* -----------------------------------------------*/

